
.container{
  color: Grey;
}

.navbar{
  width: 100%;
}
.navselect{
  font-size: 20px;
}

.nav-center{
  margin-left: auto;
  margin-right: auto;
}

.nav-padding{
  padding-right: 20px;
}

.drp-nav-aling{
  display: none;
}

.sub-nav-hover:hover .drp-nav-aling{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;

}

.collapse{
  margin-bottom: 5px;
}

/* .carousel-item{
  height: 780px !important;
} */

.card{
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 20px;

}

.Cost span{
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.btn-primary{
  margin-top: 15px;
  /* margin-bottom: -20px; */
  border-radius: 14px;
  border-color: yellow !important;
  border-width: 2px;

}

.btn{
  text-shadow:  5px 1px 30px !important;
}

 /* .Card :hover{
   -webkit-box-shadow:-1px 9px 40px -12px rgba(0, 0, 0, 0, 75 );
   -moz-box-shadow:-1px 9px 40px -12px rgba(0, 0, 0, 0, 75 );
    box-shadow:-1px 9px 40px -12px rgba(0, 0, 0, 0, 75 );
} */
.col-md-5{
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb{
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
}

/* Contact Us Page Starts Here */

.crd-content{
  border-radius: 35px;

}


.contactustitle{
  text-align: center;
  font-weight: bold;
}

.email-title{
  font-size: 25px;
}

.phone-title{
  font-size: 25px;
}

.Gmap{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/* About us page */
.abtcenter{
  margin-left: auto;
  margin-right: auto;
}


.inner{
  overflow: hidden;
}

.inner img{
  transition: all 1.3s ease;
}

.inner:hover img{
  transform: scale(1.3);
}

.FeaturedProducts{
  font-size: 20px;

}
.dropdown-item{
  font-weight: bold;
}


table{
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Georama', sans-serif;
}

.background:hover{
  color: red;
}
.border{
  border-radius: 30px;
}

/* Purchese Successful Page Codes Starts here */
.btnBackToHome{
  width: 300px;
  margin: auto;
}


/* Checkout page code Starts here */
.centerorder{
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 400px; */
}





footer{
  margin-top: 50px;
	background-color: #ebebeb;
}

/* .sociallink{
  padding-left: 40px;
} */

.sociallink a{
  float: right;
  text-decoration: none;
  color: #262626;
  padding: 5px;
  font-size: 40px;
}
.sociallink a:hover{
  color: coral;
  transition-duration: 0.6s;
  text-shadow: 5px 5px 5px grey;

}



/* .fot-shop{
  padding-right: 50px;
}

.fot-company{
  padding-left: 40px;

} */

/* .Newsletter{
  padding-right: 40px;
} */

.copyright{
	font: italic;
	/* color: #262626; */
  margin-top: 10px;
}

.copyright2{
  background-color: #d1d1d1;
}


#button-addon1 {
  color: #ffc371;
}

.fa-paper-plane{
  text-shadow: 2px 5px 5px;
  transition: text-shadow .3s;
}

.fa-paper-plane:hover{
  transform: scale(0.9);
  text-shadow: 0px 0px 0px;
  transition: text-shadow .3s;
}

i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}
